// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$status-grey: #eeeeee;

.status{
	border-bottom: 1px solid $status-grey;
	margin:5px 0 0;
	padding:5px;
		&:hover{
			background-color: lighten($status-grey, 10%);
		}
		p{
			margin:4px 0;
		}
		
		.admin{
			display:none;
		}
		&:hover .admin{
			display:inline;
		}
}